// Font Variables
$playfair-display: 'Playfair Display', serif;
$ubuntu: 'Ubuntu', sans-serif;


// COlor variables


$color-black: #0000;
$color-white: #fff;
$color-grey: rgb(123, 123, 123);
$color-grey-light: rgb(194, 194, 194);
