@import "abstracts/variables";

@import "base/base";
@import "base/typography";

@import "layout/header";
@import "layout/footer";











/////////   MAIN 

.layout-content {
    position: relative;
    margin-bottom: 3em;
}
.region-content:before {
    content: " ";
    display: block;
    
    width: 4.2%;
    
    border-bottom: 3.5px solid #000;
    line-height: 0.1em;
 
    margin: -.5em 0 0 25.5em;
    position: absolute;
}

.class-name:after {
    
  }

.layout-container {
    
}

.view-content {
    
    display: flex;
    flex-flow: row wrap;
    
    
    
}

.view-content>* {
    flex: 1 550px;
    
}
.view-content img {
    
    width:  350px;
    height: 250px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    

    @media only screen and (max-width: 2560px) {
        width:  450px;
    height: 350px;
    }

    @media only screen and (max-width: 1440px) {
        width:  350px;
    height: 250px;
    }

  
   
}

.views-row {
    margin-top: 2em;
    
}

.text-formatted {
    
    
}

.node {
    width: 50%;
    margin: auto;
}

.field--type-entity-reference {
    font-family: $ubuntu;
    text-transform: uppercase;
    margin: 1em 0 1em 0;
    color: $color-grey-light;
}



